<div>
  <p class="h3">
    <% if params[:query].blank? %>
    <% else %>
      <%= pluralize movies.count, "result" %> for <code><%= params[:query] %></code>
    <% end %>
  </p>
  <div class="movies text-center my-5">
    <% movies.each do |movie| %>
      <%= render "movie_infos", movie: movie%>
    <% end %>
  </div>
</div>
