<div class="bg-black">
  <div class="container">
    <h2 class="text-center pb-5 pt-5 text-white">It's time to help us! What are your favorite movies?</h2>
    <a href="/favourite_movies" class="text-decoration-none"> <p class="text-white text-center pt-5 pb-3">Movies selected <%= @favourite_movies.count %>/10</p></a>


    <%= form_with url: selection_path, method: :get, html: {class: "mb-4 w-50 m-auto"} do |f| %>
      <%= f.text_field :query,
                  placeholder: "Type a movie title",
                  class: "form-control",
                  value: params[:query]
                  %>
    <% end %>

    <%= render "list", movies: @movies%>
  </div>
</div>
