<div class="favorite-page">
  <div class="container">
    <h1 class="text-center text-white mb-3">Your favorite movies</h1>
    <div class="favorite-films">
        <% @favourite_movies.each do |fav| %>
          <div class="movie-card">
            <%= image_tag fav.movie.poster_url, class:"card-img-top"%>
            <div class="movie-infos">
              <h5 class="card-title"><%= fav.movie.title %></h5>
              <%= link_to favourite_movie_path(fav.id), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
                <i class="fa-sharp fa-solid fa-trash" style="color: #000000;"></i>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
