<h2 class="text-center mb-3">It's time to help us! What are your favorite movies?</h2>

<%= simple_form_for @favourite_movie do |f| %>
  <%= f.association :movies, collection: Movie.all %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
