<h1><%= @favorite_movie.title %></h1>
<p><%= @favorite_movie.description %></p>
<p>IMDb Reference: <%= @favorite_movie.imdb_reference %></p>
<p>User Reference: <%= @favorite_movie.user_reference %></p>
