
.favorite-page{
  width: 100%;
  height: 100%;
  background-color: black;
}
.favorite-page .favorite-films{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px;
}

.favorite-page .container {
  height: 100%;
}
