<div class="recommendation-index">
  <h2 class="recommendation-title">Recommendations</h2>
  <div class="container">
    <div class="list-item">
      <h2 class="item-title">Recommendation 1</h2>
      <p class="item-description">Description 1</p>
      <a class="item-link" href="#">Link 1</a>
    </div>
    <div class="list-item">
      <h2 class="item-title">Recommendation 2</h2>
      <p class="item-description">Description 2</p>
      <a class="item-link" href="#">Link 2</a>
    </div>
    <div class="list-item">
      <h2 class="item-title">Recommendation 3</h2>
      <p class="item-description">Description 3</p>
      <a class="item-link" href="#">Link 3</a>
    </div>
    <div class="list-item">
      <h2 class="item-title">Recommendation 4</h2>
      <p class="item-description">Description 4</p>
      <a class="item-link" href="#">Link 4</a>
    </div>
    <div class="list-item">
      <h2 class="item-title">Recommendation 5</h2>
      <p class="item-description">Description 5</p>
      <a class="item-link" href="#">Link 5</a>
    </div>
    <div class="list-item">
      <h2 class="item-title">Recommendation 6</h2>
      <p class="item-description">Description 6</p>
      <a class="item-link" href="#">Link 6</a>
    </div>
    <div class="list-item">
      <h2 class="item-title">Recommendation 7</h2>
      <p class="item-description">Description 7</p>
      <a class="item-link" href="#">Link 7</a>
    </div>
    <div class="list-item">
      <h2 class="item-title">Recommendation 8</h2>
      <p class="item-description">Description 8</p>
      <a class="item-link" href="#">Link 8</a>
    </div>
    <!-- Outros itens da lista -->
  </div>
  <div class="button-container">
    <a class="btn-login home-button" href="/">Go to Home</a>
  </div>
</div>
