<div class="recommendation-new">
  <div class="container">
    <form class="form">
      <div class="form-input">
        <label class="form-label" for="input-title">Título:</label>
        <input class="form-input-text" type="text" id="input-title" name="title">
      </div>
      <div class="form-input">
        <label class="form-label" for="input-description">Descrição:</label>
        <input class="form-input-text" type="text" id="input-description" name="description">
      </div>
      <button class="form-button" type="submit">Enviar</button>
    </form>
  </div>
</div>
