<h1><%= @recommendation.title %></h1>
<p><%= @recommendation.description %></p>
<p>IMDb Reference: <%= @recommendation.imdb_reference %></p>
<p>User Reference: <%= @recommendation.user_reference %></p>
