<h1>What you want to watch today?</h1>

<%= form_with(url: '/chat', method: :post) do |form| %>
  <%= form.text_field :message, placeholder: 'Enter your message' %>
  <%= form.submit 'Send' %>
<% end %>
<div id="chat-response"></div>

<style>
  .button-container1 {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
  }

  .button-container1 .btn-primary {
    width: 200px; /* Defina o tamanho desejado para o botão */
    line-height: 50px; /* Ajuste verticalmente o texto dentro do botão */
  }

  h1,
  form {
    margin-left: 10px;
  }
</style>

<div class="button-container1">
  <a href="/recommendations" class="btn btn-primary">Go to Recommendations</a>
</div>

<script>
  // Optional JavaScript to display the chat response dynamically
  const chatResponseElement = document.getElementById('chat-response');
  const form = document.querySelector('form');
  form.addEventListener('submit', async (event) => {
    event.preventDefault();
    const formData = new FormData(event.target);
    const response = await fetch('/chat', {
      method: 'POST',
      body: formData,
    });
    const responseData = await response.text();
    chatResponseElement.innerHTML = responseData;
  });
</script>
