@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora&family=Roboto&display=swap');



.h2 {
  font-family: 'Bebas Neue', sans-serif;
}

.my-container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}
.btn-main{
  background-color: #8d8b8b;

  &:hover{
    background-color: #020202;
    color: #070707;
    border-radius: 4px;
  }
}
