.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-video {
  width: 100px; /* Defina a largura desejada */
  height: auto; /* Mantém a proporção original do vídeo */
}
